In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt

from datetime import datetime

# yahoo Finance API library (useful?)
import yfinance as yf

import warnings
warnings.filterwarnings("ignore")

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

from keras.models import Sequential
from keras.layers import Dense, LSTM

from pandas_datareader import data as pdr
yf.pdr_override()

In [2]:
end = datetime.now()
start = datetime(end.year - 3, end.month, end.day)

df_gs = globals()['GS'] = yf.download('GS', start, end)

[*********************100%%**********************]  1 of 1 completed

In [3]:
df_gs.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-05-10,373.500000,376.980011,368.500000,368.679993,341.088654,3396300
2021-05-11,363.000000,368.630005,358.619995,359.920013,332.984253,3734300
2021-05-12,363.070007,368.130005,353.269989,354.399994,327.877350,3309800
2021-05-13,353.250000,360.890015,353.250000,358.809998,331.957306,2673900
2021-05-14,362.000000,369.510010,361.700012,368.769989,341.171906,2732300